@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$dark-1: #121212;
$dark-2: #242424;
$dark-3: #0c0c0c;

$grey: #c7c7c7;

$primary: #eb892e;

$font-1: #d6d6d6;

$google: #bb001b;
$facebook: #1778f2;
$twitter: #1da1f2;

$primaryFont: 'Montserrat', sans-serif;
