/* Projekt: Tvorba uživatelských rozhraní - Music player
 *
 * Súbor: App.module.scss
 * Autori: Kristian Kovac (xkovac61)
 *
 */

@import 'src/assets/styles/colors.scss';

html,
body {
  margin: 0px;
  padding: 0px;
}

.App {
  display: block;
  background: $dark-1;
}
