/* Projekt: Tvorba uživatelských rozhraní - Music player
 *
 * Súbor: Search.module.scss
 * Autori: Kristian Kovac (xkovac61)
 *
 */

@import 'src/assets/styles/colors.scss';

.Search {
  background: $dark-1;
  color: $font-1;
  width: 100%;
  font-family: $primaryFont;
  .UploadScreen {
    button {
      float: right;
      color: inherit;

      height: 40px;
      width: 100px;
      background: $dark-2;
      border: none;
      font-size: 1em;
      &:hover {
        filter: brightness(85%);
        cursor: pointer;
      }
    }
    li {
      background-color: rgb(22, 22, 22);

      height: 40px;
      padding-left: 15%;
      text-align: left;

      vertical-align: center;
      &:hover {
        filter: brightness(85%);
        cursor: pointer;
      }
    }
  }

  ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    padding-top: 50px;
  }
  .contentContainer {
    width: 90%;
    max-width: 1400px;
    display: block;
    margin: 0 auto;
  }

  .inputContainer {
    display: flex;
    align-items: center;
    input {
      font-size: 0.9em;
      padding: 15px 20px;
      background: $dark-2;
      border: none;
      border-radius: 30px;
      color: $font-1;
      outline: none;
      &:focus {
        background: white;
        color: black;
      }
    }

    button {
      background: none;
      border: none;
      color: $primary;
      font-size: 1.2em;
      padding: 0;
      display: flex;
      align-items: center;
      &:hover svg {
        cursor: pointer;
        background: $primary;

        color: $dark-1;
      }
      &:hover {
        cursor: pointer;
      }

      svg {
        transform: scale(1.5);
        margin: 10px;
        padding: 5px;
        border-radius: 50%;
      }
    }
  }

  .songList {
    display: flex;
    flex-direction: column;
    gap: 30px;
    li {
      background: $dark-2;
      padding: 0 30px;
      font-size: 1.3em;
      border-radius: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      box-shadow: 5px 5px 5px black;
      &:hover {
        filter: brightness(85%);
        cursor: pointer;
      }
      .songName {
        flex: 1;
      }
      .artist {
        flex: 1;
      }
      .buttonContainer {
        flex: 2;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        button {
          float: right;
          background: none;
          border: none;
          color: $primary;
          font-size: 0.9em;
          &:hover {
            cursor: pointer;
            color: $font-1;
          }
        }
      }

      .deleteIcon {
        margin-left: 50px;
        color: rgb(189, 25, 25);
        &:hover {
          cursor: pointer;
          filter: brightness(85%);
        }
      }
    }
  }
}

.Upload {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.Playlists {
  position: absolute;
  transform: translate(-50%);
  top: 40%;
  left: 50%;
  background: #181818da;
  width: 200px;
  padding: 10px;
  border-radius: 20px;
  .playlistButtonContainer {
    display: flex;
    flex-direction: column;

    button {
      box-shadow: 5px 5px 5px black;
      font-size: 1em;
      margin: 10px;
      padding: 10px;
      background: $dark-2;
      border: none;
      color: $font-1;
      border-radius: 10px;

      &:hover {
        cursor: pointer;
        background: white;
        color: black;
      }
    }
  }
}
