/* Projekt: Tvorba uživatelských rozhraní - Music player
 *
 * Súbor: Home.module.scss
 * Autori: Ľuboš Martinček (xmarti96)
 *
 */

@import 'src/assets/styles/colors.scss';

.Playlist {
  background: $dark-1;
  color: $font-1;
  width: 100%;
  font-family: $primaryFont;

  .contentContainer {
    width: 90%;
    max-width: 1400px;
    display: block;
    margin: 0 auto;
  }

  ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }
  .playbtn {
    align-self: left;
  }
}

.songList {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .listItem {
    background: $dark-2;
    padding: 0 30px;
    font-size: 1.3em;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 5px 5px 5px black;

    &:hover {
      filter: brightness(85%);
      cursor: pointer;
    }
    .songName {
      flex: 1;
    }
    .artist {
      flex: 1;
    }
    .buttonContainer {
      flex: 2;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      button {
        float: right;
        background: none;
        border: none;
        color: $primary;
        font-size: 0.9em;
        &:hover {
          cursor: pointer;
          color: $font-1;
        }
      }
    }
  }
}
