/* Projekt: Tvorba uživatelských rozhraní - Music player
 *
 * Súbor: CreatePlaylist.module.scss
 * Autori: Boris Hlavienka (xhlavi18)
 *
 */

@import 'src/assets/styles/colors.scss';

.CreatePlaylist {
  background: $dark-1;
  color: $font-1;
  width: 100%;
  height: max;
  font-family: $primaryFont;
  text-align: center;

  .playlistControl {
    margin-top: 100px;
    input[type='text'] {
      font-size: 1.4em;
      border-radius: 30px;
      width: 40%;
      max-width: 1000px;
      padding: 10px;
      background: $dark-2;
      border: none;
      border-radius: 30px;
      color: $font-1;
      outline: none;
      padding: 20px;
      &:focus {
        background: white;
        color: black;
      }
    }

    p {
      font-size: 1.6em;
    }
  }
}

.submitButton {
  margin-top: 30px;
  background: $primary;
  padding: 10px 30px;
  font-size: 1.2em;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 5px black;
  &:hover {
    background: white;
    color: black;
    cursor: pointer;
  }
}

.contentContainer {
  width: 90%;
  max-width: 1400px;
  display: block;
  margin: 0 auto;
}
