@import 'src/assets/styles/colors.scss';

.Playlist {
  background: black;
  color: $font-1;
  width: 100%;
  height: max;

  li {
    background-color: rgb(22, 22, 22);
    height: 40px;
    text-align: center;
    vertical-align: center;
    &:hover {
      filter: brightness(85%);
      cursor: pointer;
    }
  }
  
  ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    
  }
  .playbtn {
    align-self: left;

  }
}



