/* Projekt: Tvorba uživatelských rozhraní - Music player
 *
 * Súbor: Profile.module.scss
 * Autori: Ľuboš Martinček (xmarti96)
 *
 */

@import 'src/assets/styles/colors.scss';

.Profile {
  color: $font-1;
  font-family: $primaryFont;
  padding-bottom: 50px;
}
// .playlist_list {
//   border: solid 1px black;

//   position: relative;
//   float: left;
//   height: 200px;
//   width: 200px;
//   list-style-type: none;
//   margin: 20px;

//   vertical-align: middle;
//   background-image: url('https://c.tenor.com/q0Ejci9EQhcAAAAi/rick-astley-rick-roll.gif');
// }

.profileInfoContainer {
  overflow: hidden;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .accountDetailButton {
    margin: 0 20px;
    background: none;
    border: none;
    color: $font-1;
    &:hover {
      cursor: pointer;
      color: $primary;
    }
  }

  .inputContainer {
    padding: 15px;
    label,
    input {
      box-sizing: border-box;
      display: block;
      width: 100%;
    }

    label {
      padding-bottom: 5px;
    }

    input {
      padding: 5px 10px;
      box-shadow: 5px 5px 5px black;
    }

    .submitButton {
      background: $primary;
      border: none;
      margin-top: 20px;
      padding: 10px 10px;
      font-size: 1em;
      border-radius: 10px;

      &:hover {
        filter: brightness(85%);
        cursor: pointer;
      }
    }
  }

  .profileInfo {
    display: flex;
    flex: row;
    align-items: center;

    background: $primary;

    border-radius: 20px;

    .profilePic {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    p {
      color: black;
      padding: 0 10px;
      vertical-align: middle;
      display: inline;
      margin: 0;
    }
  }
  .manageProfileWrapper {
    margin-top: 50px;
    margin-right: 200px;
    border-left: 3px solid $primary;

    padding-left: 10px;
    display: block;
    position: fixed;
    z-index: 1;
    a {
      color: $primary;
      display: block;
    }
    a:link {
      text-decoration: none;
    }
    a:hover {
      opacity: 85%;
    }
  }
}

.contentContainer {
  width: 90%;
  max-width: 1400px;
  display: block;
  margin: 0 auto;
}

.listWrapper {
  position: relative;
  .listGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;

    .gridItem {
      width: 250px;
      height: 250px;
      background: $dark-2;

      border-radius: 10px;
      overflow: hidden;
      box-shadow: 5px 5px 10px black;
      transition: all 0.1s ease-out;

      &:hover {
        transform: scale(1.05);
        .thumbnail {
          filter: brightness(70%);
        }
        .description h3 {
          color: $primary;
        }

        cursor: pointer;
      }

      .thumbnail {
        width: 100%;
        height: 70%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .description {
        height: 30%;
        padding: 0 10px;
        h3 {
          margin: 0;
          padding: 10px 0;
          font-weight: 700;
        }

        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
