@import 'src/assets/styles/colors.scss';

.Search {
  background: $dark-1;
  color: $font-1;
  width: 100%;
  height: max;

  button {
    padding: 10px;
    color: inherit;
    width: 100px;
    background: $dark-2;
    border: none;
    font-size: 1em;
    &:hover {
      filter: brightness(85%);
      cursor: pointer;
    }
  }
  .activeButton {
    background: $primary !important;
    color: black !important;
  }
  form {
    display: flex;
    flex-direction: column;
  }
}



