@import 'src/assets/styles/colors.scss';

.wrapper{
    display: flex;
    position: left; 
    bottom: 0;
    left: 0;
    right: 0;
    width: 350px;
    height: max;
    margin-bottom: 20px;
    justify-content: center;
    
    background-color: white;
    

  

   
}


