.wrapper{
    display: flex;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: red;
    margin-bottom: 20px;
    justify-content: center;


    

  

   
}
