@import 'src/assets/styles/colors.scss';

.SidePanel {
  display: flex;
  flex-direction: column;
  color: $font-1;

  h2 {
    padding: 0 10px;
    font-family: $primaryFont;
  }

  button {
    padding: 10px;
    color: inherit;
    width: 100%;
    background: $dark-3;
    border: none;
    font-family: $primaryFont;
    font-size: 1em;
    text-align: left;
    padding: 10px 30px;
    &:hover {
      filter: brightness(70%);
      color: $font-1;
      cursor: pointer;
    }
  }
  .activeButton {
    background: $primary !important;
    color: black !important;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
