@import 'src/assets/styles/colors.scss';

.SidePanel {
  display: flex;
  flex-direction: column;
  position: left;
  color: $font-1;

  button {
    padding: 10px;
    color: inherit;
    width: 100%;
    background: $dark-2;
    border: none;
    font-size: 1em;
    &:hover {
      filter: brightness(85%);
      cursor: pointer;
    }
  }
  .activeButton {
    background: $primary !important;
    color: black !important;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

