@import 'src/assets/styles/colors.scss';

.Home {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .flexRow {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: auto;

    .SidePanel {
      width: 250px;
      background: $dark-3;
      height: 100%;
    }

    .Profile {
      position: relative;
      width: 100%;
      overflow-y: auto;
    }
  }

  .Player {
    position: relative;
  }
}
